In [ ]:
#1
input1 = list(input())
data1 =input1.count('5')
if data1 >=1:
 print('Boomm!')
else:
 print('there is no 5')

8,6,33,100
there is no 5

In [ ]:
#2
input1 = int(input())
if input1>1001 and  input1<1100:
  print('The 11th century')
elif input1>1101 and  input1<1200:  
  print('The 12th century') 
elif input1>1201 and  input1<1300:  
  print('The 13th century')
elif input1>1301 and  input1<1400:  
  print('The 14th century')
elif input1>1401 and  input1<1500:  
  print('The 15th century')
elif input1>1501 and  input1<1600:  
  print('The 16th century')
elif input1>1601 and  input1<1700:  
  print('The 17th century')
elif input1>1701 and  input1<1800:  
  print('The 18th century')
elif input1>1801 and  input1<1900:  
  print('The 19th century')
elif input1>1201 and  input1<2020:  
  print('The 20th century')

1555
The 16th century

In [ ]:
#3
input3 = str(input())
data3 =input3.split()
# print(data3)
list3 = []
for da3 in data3:
  k3 = len(da3)
  if k3 > 4:
    d3 = k3*'*'
    list3.append(d3)
  else:  
    list3.append(da3)
print(' '.join(list3))

The code is fourty
The code is ******

In [ ]:
#4
input4 = str(input())
data4 =input4.split()
in4_0 = int(data4[0])
in4_1 = str(data4[1])
in4_2 = int(data4[2])
if in4_1 == '+':
  num4 =in4_0+in4_2
elif in4_1 == '-':
  num4 =in4_0-in4_2
elif in4_1 == 'x':
  num4 =in4_0*in4_2
elif in4_1 == '/':
  num4 =in4_0/in4_2
print(num4)

10 / 3
3.3333333333333335

In [ ]:
#5
input5 = int(input())
list5 = ['brilliant','exciting','fantastic','virtuous','heart-warming','tear-jerking','beautiful','exhilarating','emotional','inspiring']
list5_1 = []
list5_2 = []
for n5 in range(10):
  num5 = n5+1
  num5_1 = input5/num5
  #print(num5_1.is_integer())
  if num5_1.is_integer():
    list5_1.append(int(num5))
    list5_2.append(list5[n5])
print(list5_1)
print(' '.join(list5_2))

60
[1, 2, 3, 4, 5, 6, 10]
brilliant exciting fantastic virtuous heart-warming tear-jerking inspiring

In [ ]:
#6
input6 = str(input())
data6 =input6.split(',')
list6_1 = []
list6_2 = []
list6_3 = []
i6=0
for n6 in data6:
  #print(n6.isnumeric())
  if n6.isnumeric():
   list6_1.append(n6)
   list6_1.sort()
   list6_2.append(i6)
  else:
   list6_3.append(int(n6))
  i6+=1
for in6 in range(1,len(list6_1)+1): 
   m6_1 =int(list6_2[in6-1])
   m6_2 =int(list6_1[in6-1])
   #print(str(m6_1)+str(m6_2))
   list6_3.insert(m6_1,m6_2 )
#print(list6_1)
#print(list6_2)
print(list6_3)
#6,3,-2,5,-8,2,-2
#6,5,4,-1,3,2,-1,1

6,3,-2,5,-8,2,-2
[2, 3, -2, 5, -8, 6, -2]

In [ ]:
#7
input7 = str(input())
list7 = []
for str7 in input7: 
  if str7.islower():
    list7.append(str7)
  else:
    list7.append(' ')
    list7.append(str7)
str7_1 = ''.join(list7).lower()
print(str7_1)
#helloWorld

iLoveMyTeapot
i love my teapot

In [ ]:
#8
input8 = str(input())
data8 =input8.split()
list8 = []
for str8 in data8:
  str8=str(str8)
  if 'zero'  == str8 or 'Zero'  == str8 :
    list8.append('0')
  elif 'one'  == str8 or 'One'  == str8 :
    list8.append('1')
  else:
    list8.clear()
    list8.append('None')
print(''.join(list8))
#zero one zero one zero one zero one
#zero one zero one zero one zero three

zero one zero one zero one zero three
None

In [ ]:
#9
def my_function9(data9_0):
 in9 = 1
 listf13 = []
 while in9 < len(data9_0):
  d9_1 = str(data9[in9])
  #print(d9_1[0])
  #print(data9[in9-1][-1])
  sd9 = data9.count(data9[in9])
  if  data9[in9-1][-1] == d9_1[0] and sd9 <= 1:
   listf13.append(1)
  else:
   listf13.append(0)
  in9+=1
 return listf13
input9 = str(input())
data9 =input9.split(', ')
ds9 = my_function9(data9)
if 0 not in ds9:
  print('valid')
else:
  print('invalid')
#word, dowry, yodel, leader, righteous, serpent
#motive, beach
#hive, eh, hive

word, dowry, yodel, leader, righteous, serpent
valid

In [ ]:
#10
input10 = list(input())
f10=0
data10_1 = ['N','E','S','W']
for da10 in input10:
  if da10 == 'L':
    f10 +=1
  elif da10 == 'R':
    f10 -=1
print(data10_1[f10])

RRRL
S

In [ ]:
#11
input11 = str(input())
data11 =input11.split(' ')
data = "#"+data11[1]+" Happy Birthday "+data11[0]+"! "+data11[1]+"#" 
fg = '#'*19
print(fg)
print(data)
print(fg)

Russell 19
###################
#19 Happy Birthday Russell! 19#
###################

In [ ]:
#12
import json
input12 = str(input())
data12 = json.loads(input12)
list12 = []
sort_orders = sorted(data12.items(), key=lambda x: x[1], reverse=True)
#print(data12.items())
for x12, y12 in sort_orders:
  if y12 > 500:
    list12.append(x12)
print(', '.join(list12))
#{"Computer": 600, "TV": 800, "Radio":50}

{"Computer": 600, "TV": 800, "Radio":50}
TV, Computer

In [ ]:
#13
import json
def my_function13(data13_0):
#  print(data13_0)
 listf13_1=[]
 for daf13 in data13_0:
  #print(daf13)
  dataf13 = daf13.split('/')
  if dataf13[0] == dataf13[1] :
   listf13_1.append(1)
  else:
   listf13_1.append(0)
 return listf13_1
input13 = str(input())
data13 = json.loads(input13)
list13=[]
for da13 in data13:
  fin13 = my_function13(data13[da13])
  x13 = fin13.count(0)
  if x13 == 0:
    list13.append(da13)
print(', '.join(list13))
  #print(x)
  #{ "John" : ["5/5", "50/50", "10/10", "10/10"], "Sarah" : ["4/8", "50/57", "7/10", "10/18"], "Adam" : ["8/10", "22/25", "3/5", "5/5"], "Barry" : ["3/3", "20/20"] }

{ "Zara" : ["10/10"], "Kris" : ["30/30"], "Charlie" : ["100/100"], "Alex" : ["1/1"] }
Zara, Kris, Charlie, Alex

In [ ]:
#14
def my_function14(data14_0):
 listf14 = []
 for daf14 in data14_0: 
   if daf14 not in listf14:
    listf14.append(daf14)
 return listf14
input14 = str(input())
in14 = my_function14(input14)
list14 = []
for da14 in input14:
 list14.append(in14.index(da14))
print(list14)

hmmmmm
[0, 1, 1, 1, 1, 1]

In [ ]:
#15
input15 = [[1], (1)]
list15 =[]
for da15 in input15:
 list15.append(type(da15))
if len(set(list15)) <= 1:
 print('True')
else:
 print('False')
# [1, 6, 5, 3, 7, 9]
# [1, 6, 5, 3, "7", 9]
# [[]]
# [[1], (1)]

False