<h3> Tools for Data Science Assignment Week 8 Pandas </h3>
<ul>
 <li>Concatenate / Merge Data together </li>
<li> Data Cleaning </li>
<li> Condition Selection </li>
</ul>

ข้อมูลต้นฉบับ
https://www.kaggle.com/szamil/who-suicide-statistics

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h3> Part 1 Concatenate / Merge Data </h3>
<ol>
  <li> รวมข้อมูลจากไฟล์ suicide1.csv และ suicide2.csv  </li>
  <li> รวมไฟล์จากข้อที่ 1 กับไฟล์ suicide3.csv </li>
  <li> บันทึกเป็นไฟล์เดียวมีชื่อว่า suicide_combine.csv </li>
</ol>

In [ ]:
# ชุดข้อมูล
# https://raw.githubusercontent.com/ABChamp/python_programming_buu_class/master/data/suicide1.csv,names=['id','country','year','sex']
# https://raw.githubusercontent.com/ABChamp/python_programming_buu_class/master/data/suicide2.csv,names=['id','country','year','sex']
# https://raw.githubusercontent.com/ABChamp/python_programming_buu_class/master/data/suicide3.csv,names=['id','age','suicides_no','population']

data_csv1 = pd.read_csv('https://raw.githubusercontent.com/ABChamp/python_programming_buu_class/master/data/suicide1.csv',sep=",")
data_csv2 = pd.read_csv('https://raw.githubusercontent.com/ABChamp/python_programming_buu_class/master/data/suicide2.csv',sep=",")
data_csv3 = pd.read_csv('https://raw.githubusercontent.com/ABChamp/python_programming_buu_class/master/data/suicide3.csv',sep=",")
r_csv1 = pd.concat([data_csv1, data_csv2])
# r_csv=pd.concat([r_csv1, data_csv3], axis=1, join='inner')
r_csv=pd.merge(r_csv1, data_csv3,how='right', on='id')
r_csv

HTTPError: ignored

In [ ]:
r_csv1

In [ ]:
data_csv3

In [ ]:
r_csv.to_csv (r'suicide_combine.csv', index = False, header=True)

<h3>Part 2 Data Cleaning </h3>
หลังจาก Concatenate / Merget Data ให้เขียนโค้ดเพื่อตรวจสอบว่าข้อมูลในไฟล์ suicide_combine.csv ที่รวมกันมีค่าซ้ำหรือแถวที่มีค่า null ทั้งหมดกี่แถวและจัดอย่างอย่างไร

ถ้าเสร็จแล้วบันทึกในรูปแบบ csv ใช้ชื่อว่า suicide_cleaned.csv

In [ ]:

r_csv.drop('id', axis=1, inplace=True)

In [ ]:
# 

r_csv.drop_duplicates(inplace=True)
# r_csv.replace([np.inf, np.inf], np.nan)
r_csv.dropna(subset=['country'],inplace=True)
r_csv['year']  = r_csv['year'].astype(np.int64)
# r_csv.nunique()
# r_csv.nunique(axis = 1, dropna = True) 
#r_csv.duplicated()
# r_csv.isnull().sum()
# dfObj = r_csv.sort_values(by ='year' )
# dfObj
r_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43776 entries, 0 to 43850
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.3+ MB

In [ ]:

# r_csv.info()
r_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43777 entries, 0 to 43850
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43777 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.3+ MB

In [ ]:
r_csv.to_csv (r'suicide_cleaned.csv', index = False, header=True)

<h3> Part 3 Coding </h3>
1. แสดงรายละเอียดที่จัดการข้อมูลที่ทำการ cleaning เสร็จ <br>
<img src="https://drive.google.com/uc?export=view&id=1jhC_dchzENhZVQUycM5a-dsomicVe57M" width="300">

In [ ]:

r_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43776 entries, 0 to 43850
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.3+ MB

2. เขียนโค้ดในการแสดงจำนวน suicides_no และ population ของประชากรในกลุ่มอายุของเพศชายและเพศหญิงรวมกัน ในประเทศเกาหลีใต้ (Republic of Korea) ในปีที่ 2015

<img src="https://drive.google.com/uc?export=view&id=1LufDd66A45f0ZcHqO128MNwurhcB7wej" width="300">

In [ ]:
data2 = r_csv[(r_csv['country'] == 'Republic of Korea') & (r_csv['year'] == 2015)].groupby(['age'])[['suicides_no','population']].sum()
data2

             suicides_no  population
age
15-24 years        677.0   6792457.0
25-34 years       1560.0   6926751.0
35-54 years       5050.0  16930951.0
5-14 years          31.0   4871381.0
55-74 years       4113.0  10484510.0
75+ years         2079.0   2665702.0

3. เขียนโค้ดในการแสดงในจำนวนประชากรของประเทศไทย ตั้งแต่ปี 2010-2016 เรียงตามปีจากน้อยไปมาก

<img src="https://drive.google.com/uc?export=view&id=1TavMuIwJ2sT1eKAwkor39020sQ_W4Qtx" width="300">

In [ ]:
data3 =r_csv[(r_csv['country'] == 'Thailand') & (r_csv['year'].between(2010,2016))].groupby(['year'])[['suicides_no','population']].sum()
data3.sort_values(by ='year' )

      suicides_no  population
year
2010       3761.0  59769764.0
2011       3873.0  60261832.0
2012       3985.0  60382255.0
2013       3961.0  60766487.0
2014       3952.0  61139919.0
2015       4205.0  61261276.0
2016       4131.0  61333728.0

4. เขียนโค้ดในการแสดงว่าประเทศใดมีจำนวนการเกิดเหตุทั้งเพศชายและเพศหญิง และทุกช่วงอายุในปี 2015 มากที่สุด 15 อันดับและเท่าไร


<img src="https://drive.google.com/uc?export=view&id=19xxBQCwvdIcwPpAqtmzm8IA3xNCuoXkZ" width="300">

In [ ]:
data4 =r_csv[(r_csv['year'] == 2015)].groupby(['country'])[['country','suicides_no']].sum()
data4.sort_values(by ='suicides_no',ascending = False ).head(15)

                          suicides_no
country
United States of America      44189.0
Russian Federation            25432.0
Japan                         23092.0
Republic of Korea             13510.0
Brazil                        11163.0
Germany                       10088.0
Ukraine                        7574.0
Mexico                         6234.0
Poland                         5420.0
United Kingdom                 4910.0
Thailand                       4205.0
Italy                          3988.0
Spain                          3604.0
Argentina                      3073.0
Australia                      3027.0

5. เขียนโค้ดในการแสดงว่าประเทศใดมีจำนวนการเกิดเหตุทั้งเพศชายและเพศหญิงที่ในช่วยอายุ 15-54 ปี ในปี 2005 และเท่าไร มากที่สุด 10 อันดับ

<img src="https://drive.google.com/uc?export=view&id=1BQkwd4d2sPemA7BPEpazYi6xr4BbFBlF" width="300">

In [ ]:
grp1 = r_csv.groupby('age') 

grp1.aggregate(np.sum)

                    id        year  suicides_no    population      index
age
15-24 years  160288343  14607032.0     985075.0  1.104695e+10  160281034
25-34 years  160219222  14599046.0    1368026.0  1.060416e+10  160211917
35-54 years  160142338  14603050.0    2899009.0  1.747937e+10  160135031
5-14 years   160082874  14593064.0      63318.0  1.092108e+10  160075572
55-74 years  160102498  14597070.0    1964262.0  1.067162e+10  160095194
75+ years    160020146  14587080.0     757709.0  3.113704e+09  160012847

In [ ]:
data5 =r_csv[(r_csv['year'] == 2015)]
# &((r_csv['age'].str.find('15')==0)|(r_csv['age'].str.find('54')==2))
# data5_ = data5["age"].str.split("-", n = 1, expand = True) 

# data5 =r_csv[(r_csv['age'].str.find('15')==0)|(r_csv['age'].str.find('54')==0)]
data5.groupby(['country'])[['suicides_no']].sum().sort_values(by ='suicides_no',ascending = False ).head(10)

                          suicides_no
country
United States of America      21178.0
Russian Federation            11595.0
Japan                          9030.0
Brazil                         5934.0
Republic of Korea              5727.0
Mexico                         3694.0
Germany                        3579.0
Ukraine                        3232.0
United Kingdom                 2530.0
Poland                         2422.0

6. เขียนโค้ดในหาว่าประเทศไหนไม่การเหตุ (ทั้งเพศชายและเพศหญิง หมายถึงความว่าในปีนั้นจะมีค่า 0 ทั้งเพศชายและเพศหญิงทุกกลุ่มอายุ) กี่ปีทีไม่เกิดเหตุ?

<img src="https://drive.google.com/uc?export=view&id=1HO5qI4-Temr-VgQt7RBMvLELydVpREuC" width="300">

In [ ]:
data6 =r_csv[(r_csv['suicides_no'] == 0)].groupby(['country'])
# [['country']].count()
data6.aggregate(np.sum)

AttributeError: ignored

7.เขียนโค้ดในหาจำนวนการเกิดเหตุทั้งเพศชายและเพศหญิง ทุกช่วงอายุในปี 2009 ว่าชื่อประเทศขึ้นต้นด้วยตัว T หรือ E หรือ B

<img src="https://drive.google.com/uc?export=view&id=1xIkdPqdnVfbtHriHZ-cTLLcMlIG3RPqx" width="300">

In [ ]:
# 24 แถว
data7 =r_csv[(r_csv['year'] == 2009)&((r_csv["country"].str.find('T')==0)|(r_csv["country"].str.find('E')==0)|(r_csv["country"].str.find('B')==0))]
data7.groupby(['country'])[['suicides_no']].sum().sort_values(by ='suicides_no',ascending = False )

                          suicides_no
country
Brazil                         9346.0
Thailand                       3787.0
Belarus                        2743.0
Belgium                        2013.0
Bulgaria                       1079.0
Turkey                         1050.0
Ecuador                         964.0
El Salvador                     506.0
Estonia                         269.0
TFYR Macedonia                  167.0
Turkmenistan                    165.0
Trinidad and Tobago             128.0
Egypt                            52.0
Bahrain                          36.0
Tunisia                          22.0
Belize                           15.0
Bahamas                           6.0
Barbados                          5.0
Bermuda                           3.0
Brunei Darussalam                 2.0
Turks and Caicos Islands          1.0
British Virgin Islands            0.0

8. เขียนโค้ดเลือกข้อมูลจำนวนเหตุการณ์ที่เกิดขึ้นกับเพศชายและเพศหญิง ทุกกลุ่มอายุตั้งแต่ปี 2010-2016 มากที่สุด 10 อันดับ

<img src="https://drive.google.com/uc?export=view&id=1hSl67ljXn-XvpRvzl0PdvB9irp6_0mZo" width="300">

In [ ]:
r_csv

          id   country    year     sex          age  suicides_no  population
0          1   Albania  1985.0  female  15-24 years          NaN    277900.0
1          2   Albania  1985.0  female  25-34 years          NaN    246800.0
2          3   Albania  1985.0  female  35-54 years          NaN    267500.0
3          4   Albania  1985.0  female   5-14 years          NaN    298300.0
4          5   Albania  1985.0  female  55-74 years          NaN    138700.0
...      ...       ...     ...     ...          ...          ...         ...
43846  43847  Zimbabwe  1990.0    male  25-34 years        150.0         NaN
43847  43848  Zimbabwe  1990.0    male  35-54 years        132.0         NaN
43848  43849  Zimbabwe  1990.0    male   5-14 years          6.0         NaN
43849  43850  Zimbabwe  1990.0    male  55-74 years         74.0         NaN
43850  43851  Zimbabwe  1990.0    male    75+ years         13.0         NaN

[43851 rows x 7 columns]

In [ ]:
data8 =r_csv[((r_csv['year']>=2010)&(r_csv['year']<=2016))]
data8.groupby(['country'])[['suicides_no']].sum().sort_values(by ='suicides_no',ascending = False ).head(10)

                          suicides_no
country
United States of America     246567.0
Russian Federation           174700.0
Japan                        157955.0
Republic of Korea             87393.0
Brazil                        61853.0
Germany                       60475.0
France                        49011.0
Ukraine                       42662.0
Poland                        36410.0
Mexico                        33920.0

9. เขียนกราฟ bar char แสดงจำนวนเหตุการณ์ในแต่ละช่วงอายุทุกเพศของประเทศญี่ปุ่นในปี 2015

<img src="https://drive.google.com/uc?export=view&id=1Xc4G0A93tmfGqN4gz7LHzQ6jFSHyQL60" width="500">

10. เขียนโค้ดสร้างภาพ line chart แสดงจำนวนเหตุการณ์ในแต่ทุกเพศทุกช่วงอายุในกลุ่มประเทศอาเซียน (ที่มีข้อมูล)ในปี 2005-2015 (10 ปี) เปรียบเทียบกัน

<img src="https://drive.google.com/uc?export=view&id=14-5TdxJIsPBfOpU3LtRytGn9_3xlH2Nc" width="500">