<h3> ข้อสอบปลายภาคเรียนที่ 1 ปีการศึกษา 2563 <BR>
วิชา Tools for Data Science </h3>
**เวลาสอบ 13.00-16.00 น.**

คำชี้แจง 
1. ข้อสอบมีจำนวน 3 ข้อใหญ่ แต่ละข้อใหญ่ประกอบด้วย 5 ข้อย่อย คะแนนรวม 15 คะแนน (ข้อย่อยที่ 1 และ 2 ข้อละ 1.5 คะแนน, ข้อย่อยที่ 3,4 ข้อละ 3 คะแนน และข้อย่อยที่ 5 ข้อละ 6 คะแนน)
2. ให้นิสิตเขียนโปรแกรมตามคำถามแต่ละข้อลงในไฟล์นี้ และเมื่อทำเสร็จให้ download file ในนามสกุล ipynb เพื่อจัดส่งคำตอบใน google classroom **ห้ามทำการส่งเป็น link เด็ดขาด**


ชุดข้อมูล <br>
ข้อที่ 1: https://raw.githubusercontent.com/ABChamp/python_programming_buu_class/master/data/datasert1.csv <br>
ข้อที่ 2: https://raw.githubusercontent.com/ABChamp/python_programming_buu_class/master/data/dataset2.csv<br>
ข้อที่ 3: https://raw.githubusercontent.com/ABChamp/python_programming_buu_class/master/data/dataset3.csv<br>

In [4]:
import pandas as pd

# ข้อที่ 1: Google Job Skill

<h3> <b> ข้อที่ 1: Google Job Skill </b> </h3>

data shape : 5 columns, 1250 rows
<table>
  <tr>
  <td> Name </td>
  <td> Description </td>
  </tr>
  <tr>
    <td>Title</td>
    <td>The title of the job</td>
  </tr>
  <tr>
    <td> Category </td>
    <td> Category of the job </td>
  </tr>
  <tr>
    <td> Location </td>
    <td> Location of the job </td>
  </tr>
  <tr>
    <td> Responsibilities </td>
    <td> Responsibilities for the job </td>
  </tr>
  <tr>
    <td> Minimum Qualifications </td>
    <td> Minimum Qualifications for the job </td>
  </tr>
  <tr>
    <td> Preferred Qualifications </td>
    <td> Preferred Qualifications for the job </td>
  </tr>
</table>

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
path1 = '/content/drive/MyDrive/pandas/tool data sci/job_skills.csv'
df = pd.read_csv(path1)
df = df.rename(columns=lambda x: x.strip())
df = df.rename(columns=lambda x: x.lower())
df = df.apply(lambda col: col.str.lower())
df = df.rename({'minimum qualifications': 'minimum_qualifications', 'preferred qualifications': 'preferred_qualifications'}, axis='columns')
df = df.fillna('null')

In [7]:
# df
# df.info()
# df.isnull().sum()
# df.describe()

**1.1 มีจำนวนกี่บริษัท (Company) ที่เปิดรับพนักงาน และมีตำแหน่งรวมกันกี่ตำแหน่ง (นับรวมทุกตำแหน่งตาม Title)**

In [8]:
company = list(df.groupby(['company'])['company'].first())
df1 = df.groupby('company')['title'].apply(list).reset_index(name='title')
count_com = int(df1.company.count())

title_sum = 0
for x in company:
  title_sum += len((list(df1[(df1['company'] == company)].title))[0])

print('มีจำนวนกี่บริษัท(Company)ที่เปิดรับพนักงาน : ', len(company), 'บริษัท และมีตำแหน่งรวมกันกี่ตำแหน่ง :', title_sum, 'ตำแหน่ง')

มีจำนวนกี่บริษัท(Company)ที่เปิดรับพนักงาน :  2 บริษัท และมีตำแหน่งรวมกันกี่ตำแหน่ง : 2454 ตำแหน่ง

**1.2 ในประเทศ Singapore มีกลุ่มของตำแหน่ง (Category) ที่เปิดรับพนักงาน อะไรบ้าง และมีจำนวนกี่ตำแหน่ง**

In [9]:
df2 = df[df['location'] == 'singapore'].groupby('category').first()
print('ในประเทศ Singapore มีกลุ่มของตำแหน่ง (Category) ที่เปิดรับพนักงาน ได้แก่ : ', df2.index.tolist())
print('และมีจำนวนทั้งหมด : ', len(df2.index.tolist()))

ในประเทศ Singapore มีกลุ่มของตำแหน่ง (Category) ที่เปิดรับพนักงาน ได้แก่ :  ['administrative', 'business strategy', 'finance', 'legal & government relations', 'partnerships', 'people operations', 'product & customer support', 'program management', 'sales & account management', 'sales operations', 'technical solutions', 'user experience & design']
และมีจำนวนทั้งหมด :  12

**1.3 รายชื่อตำแหน่งงาน (Title) ที่มีจำเป็นตัองมีคุณสมบัติด้านวุฒิการศึกษา (Minimun Qualifications) อย่างน้อยปริญญาโท (Master Degree)**

In [10]:
list_word = ['null','ba/bs degree ', 'bs degree', 'ba/bs', 'bachelor’s degree', "bachelor's degree", 'ba degree', "bachelor's"]
degree = df[df.minimum_qualifications.str.contains('degree')] # -> select keyword 'degree'
filter_degree = degree[~degree.minimum_qualifications.str.contains('|'.join(list_word))]

list_title = []
for x in filter_degree.title.tolist():
  job = x.split(',')
  for y in job:
    list_title.append(y.strip())

print('รายชื่อตำแหน่งงาน (Title) มีดังนี้ : ')
number = 0
for x in list(set(list_title)):
  number += 1
  print(number,'.', x)

รายชื่อตำแหน่งงาน (Title) มีดังนี้ :
1 . virtual prototyping
2 . portfolio strategist
3 . phone accessories (google hardware)
4 . partner strategy planning lead
5 . counsel
6 . consumer hardware
7 . performance modeling
8 . phones business
9 . enforcement analyst
10 . business strategy lead
11 . mandarin)
12 . quantitative analyst
13 . trust and safety
14 . associate commercial counsel
15 . play
16 . quantitative user experience research lead
17 . software engineer
18 . engineering
19 . ethics and compliance associate counsel
20 . cell design and process engineer
21 . user experience researcher
22 . regulatory investigations
23 . associate product counsel
24 . quantitative analyst lead
25 . google cloud
26 . google cloud support
27 . lead data scientist
28 . display technology lead
29 . us political law
30 . trademark counsel
31 . data scientist / quantitative analyst technical lead
32 . consumer hardware products
33 . ux researcher (english
34 . network business analyst
35 . image processing
36 . youtube
37 . customer experience data scientist
38 . strategy and operations manager


**1.4 แสดงรายชื่อประเทศ (Location) ที่ประกาศรับสมัครพนักงานมากที่สุด 5 อันดับจากมากไปน้อย**

In [11]:
df3 = df.copy()
df3["location"] = df3["location"].str.split(",")
df3 = df3.explode("location").reset_index(drop=True)

df3 = df3.groupby(df3.location.tolist(),as_index=False).size()
df3 = df3.rename({'index': 'location', 'size': 'count'}, axis='columns')
df3 = df3.sort_values('count', ascending=False).head(5).reset_index()
df3 = df3.drop('index', 1)
df3

         location  count
0   united states    638
1              ca    449
2   mountain view    190
3       sunnyvale    155
4         ireland     87

**1.5 ความถี่สะสมของคำ (word) ที่เกิดขึ้นในคุณสมบัติเฉพาะตำแหน่ง (Preferred Qualification) สำหรับในรายการตำแหน่ง (Title) ที่มีคำว่า "Engineering" มีจำนวนเท่าไร**

    1.5.1 แสดงผลเป็นกราฟแท่ง เรียงลำดับจากมากไปน้อย 
    1.5.2 การแสดงผลในข้อ 1.5.1 จะไม่รวมความถี่สะสม ของคำต่อไปนี้ "a", "an", "the", "and", "or", "of", "with", "to", "is",  "am", "are", "as", "in" 
    1.5.3 ไม่รวมเครื่องหมายพิเศษเช่น \n (new line) , "." (dot), "," (comma)

In [12]:
df4 = df.copy()
df4 = df4[df4.title.str.contains('engineering')]

df4["preferred_qualifications"] = df4["preferred_qualifications"].str.split()
list_pq = df4.preferred_qualifications.tolist()
flat_list = [item for sublist in list_pq for item in sublist]
# print(flat_list)

from collections import Counter
counts = dict(Counter(flat_list))
# print(type(counts))

df5 = pd.DataFrame(list(counts.items()))
df5 = df5.rename({0: 'word', 1: 'count'}, axis='columns')
df5 = df5.sort_values('count', ascending=True).reset_index()
df5 = df5.drop(columns=['index'])
# df5

In [13]:
import matplotlib.pyplot as plt

# ax = df5.plot.bar(x='word', y='count', rot=0)
# ax = df5.plot.barh(x='word', y='count', figsize=(20,200)) ## horizontal bar chart

In [14]:
list_word = ["a", "an", "the", "and", "or", "of", "with", "to", "is",  "am", "are", "as", "in" ]
filter_df5 = df5[~df5.word.str.contains('|'.join(list_word))]
# filter_df5

filter_df5 = filter_df5.sort_values('count', ascending=True).reset_index()
filter_df5 = filter_df5.drop(columns=['index'])
# filter_df5

# ax = filter_df5.plot.barh(x='word', y='count', figsize=(20,100)) ## horizontal bar chart

In [15]:
list_word = ["\n", "\.", ","]
filter_df5 = df5[~df5.word.str.contains('|'.join(list_word))]
# filter_df5

filter_df5 = filter_df5.sort_values('count', ascending=True).reset_index()
filter_df5 = filter_df5.drop(columns=['index'])
# filter_df5

# ax = filter_df5.plot.barh(x='word', y='count', figsize=(20,100)) ## horizontal bar chart

# ข้อที่ 2: Coursera Course Dataset

<h3><b> ข้อที่ 2: Coursera Course Dataset </b> </h3>
data shape : 6 columns, 890 rows

<table>
  <tr>
    <td> Name </td>
    <td> Description </td>
  </tr>
  <tr>
    <td> course_title </td>
    <td> Contains the course title. </td>
  </tr>
  <tr>
    <td> course_organization </td>
    <td> It tells which organization is conducting the courses. </td>
  </tr>
   <tr>
    <td> courseCertificatetype </td>
    <td> It has details about what are the different certifications available in courses. </td>
  </tr>
  <tr>
    <td> course_rating </td>
    <td> It has the ratings associated with each course. </td>
  </tr>
    <tr>
    <td> course_difficulty </td>
    <td> It tells about how difficult or what is the level of the course. </td>
  </tr>
    <tr>
    <td> coursestudentsenrolled </td>
    <td> It has the number of students that are enrolled in the course.</td>
  </tr>

</table>

In [16]:
path1 = '/content/drive/MyDrive/pandas/tool data sci/coursea_data.csv'
df = pd.read_csv(path1)
df = df.rename(columns=lambda x: x.strip())
df = df.rename(columns=lambda x: x.lower()) ## convert str all columns is lower.
df['unnamed: 0']= df['unnamed: 0'].astype(str) ## convert type columns.
df['course_rating']= df['course_rating'].astype(str) ## convert type columns.
df = df.apply(lambda col: col.str.lower()) ## convert str all row is lower.
df['unnamed: 0']= df['unnamed: 0'].astype(int) ## convert type columns.
df['course_rating']= df['course_rating'].astype(float) ## convert type columns.

In [17]:
df.head()
# df.info()
# df.isnull().sum()
# df.describe()

   unnamed: 0  ... course_students_enrolled
0         134  ...                     5.3k
1         743  ...                      17k
2         874  ...                     130k
3         413  ...                      91k
4         635  ...                     320k

[5 rows x 7 columns]

**2.1 แสดงรายการและจำนวนของ Certificate_type แบ่งกลุ่มตามระดับ(course_difficulty)**

In [18]:
#group by cat and count value count.
df.groupby('course_difficulty')['course_certificate_type'].value_counts()

course_difficulty  course_certificate_type
advanced           specialization               10
                   course                        9
beginner           course                      282
                   specialization              196
                   professional certificate      9
intermediate       course                      104
                   specialization               91
                   professional certificate      3
mixed              course                      187
Name: course_certificate_type, dtype: int64


**2.2 แสดงแถวข้อมูลที่จากสถาบันการศึกษา (course_organization) ที่มีชื่อ deeplearning.ai โดยเรียงจากคะแนน rating จากมากไปน้อย**

In [19]:
df[df.course_organization.str.contains('deeplearning.ai')].sort_values('course_rating', ascending=False)

     unnamed: 0  ... course_students_enrolled
162         207  ...                     240k
427         123  ...                     270k
626          62  ...                     630k
6            54  ...                     350k
7           488  ...                     2.4k
211           5  ...                     690k
723         285  ...                      14k
763         189  ...                     220k
9           129  ...                      12k
11           35  ...                      13k
163         358  ...                      46k
520         230  ...                     150k
787          27  ...                     170k
10          283  ...                       4k
621         431  ...                      40k
788         217  ...                      12k

[16 rows x 7 columns]

**2.3 แสดงรายชื่อวิชา (Course Title) (ที่มีคำ "Python" หรือ "AI") ที่ระดับความยาก (course_difficulty)  เป็น Beginner ที่มี rating สูงสุด 5 อันดับแรก**

In [20]:
# find key word  string.
list_word = ["python", "ai"] 
df[(df.course_title.str.contains('|'.join(list_word))) & (df['course_difficulty'] == 'beginner')].sort_values('course_rating', ascending=False).head(5)

     unnamed: 0  ... course_students_enrolled
842         249  ...                     130k
530         866  ...                     120k
429         318  ...                      79k
814         524  ...                      13k
6            54  ...                     350k

[5 rows x 7 columns]

**2.4 จำนวนรายวิชา (course) ของแต่ละสถาบันการศึกษา (course_organization) ที่มีคะแนน rating น้อยกว่าหรือเท่ากับ 4.5 ให้แสดงรายชื่อสถาบันการศึกษา, จำนวน course และค่า rating เฉลี่ยของทุกรายวิชา**

In [21]:
df2 = df[df.course_certificate_type.str.contains('course')] #.sort_values('course_rating', ascending=False)
df2[df2['course_rating'] <= 4.5]

     unnamed: 0  ... course_students_enrolled
2           874  ...                     130k
13          631  ...                      11k
16          828  ...                      13k
21          604  ...                      80k
51          663  ...                      11k
..          ...  ...                      ...
793         375  ...                      73k
818         138  ...                     100k
840         261  ...                     120k
870         684  ...                      18k
872         359  ...                      17k

[65 rows x 7 columns]

**2.5 แสดงกราฟของรายวิชา (Course) ที่มีผู้เข้าเรียน (course_students_enrolled)  มากที่สุด 5 อันดับแรก**
- ให้แกน x แทนจำนวนคน (หน่วยเป็น ล้านคน) แกน y เป็นชื่อรายวิชา

# ข้อที่ 3: Tsunami

<h3> <b>ข้อที่ 3: Tsunami</b> </h3>
data shape : 21 columns, 2259 rows

**3.1 จากข้อมูลที่ให้มา ให้แสดงรายชื่อประเทศที่การเกิดเหตุการณ์ Tsunami และจำนวนครั้งที่เกิด**

**3.2 สาเหตุ (Cause) ของการเกิด Tsunami โดยนับแต่ตั้งแต่ปี 1800 จนถึงปัจจุบัน มีอะไรบ้าง และมีกี่ครั้งที่เกิด ให้แสดงข้อมูลเรียงจากมากไปน้อย**

**3.3 ความถี่ของการเกิด Tsunami ชั่วโมงต่อชั่วโมง (ที่มีข้อมูลเวลา) แยกตามช่วงเวลาในแต่ละชั่วโมง ตัวอย่างเช่น 06.00 - 06.59 โดยนับแถวข้อมูลที่เกิดตั้งแต่ปี 1800 จนถึงปัจจุบัน เรียงตามเวลาตั้งแต่ 00.00 - 00.59, 01.00 - 01.59 .... จนถึง 23.00 - 23.59
(คอลัมภ์ ช่วงเวลา และคอลัมภ์ จำนวนครั้ง)**
ตัวอย่างเช่น  <BR>

ช่วงเวลา        จำนวนครั้ง <BR>
0:00 - 1:00     10 <BR>
1:00 - 2:00      5 <BR>
... <BR>
... <BR>
... <BR>

**3.4 แสดงเหตุการณ์ที่เกิดขึ้นตั้งแต่ปี 2010 - 2020 ที่มีรายงานผู้เสียชีวิตมาก 100 คนโดยเรียงลำดับตามขนาดของการสั่นไวของเหตุการณแผ่นดินไหวมากที่สุด (EQ_MAGNITUDE) 5 อันดับแรก**

**3.5 สร้างกราฟแสดงจำนวนครั้งของการเกิด Tsunami ในแต่ละเดือน ตั้งแต่ปี 1990 - 2020 แกน x แสดงเดือน Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov และ Dec และ แกน y แสดงจำนวนครั้งของการเกิดเหตุการณ์ในเดือนนั้น**